<div class= "nameBox span6 offset3">Updated Player Stats</div>
<div class= "statBox span6 offset3">
  <p id="notice"><%= notice %></p>
  <div>
    <strong>Name:</strong>
    <%= @roster.name %>
  </div>

  <div>
    <strong>Overall:</strong>
    <%= @roster.overall %>
  </div>

  <div>
    <strong>Scheduling:</strong>
    <%= @roster.scheduling %>
  </div>

  <div>
    <strong>Fun:</strong>
    <%= @roster.fun %>
  </div>

  <div>
    <strong>Day:</strong>
    <%= @roster.day %>
  </div>

  <div>
    <strong>Night:</strong>
    <%= @roster.night %>
  </div>

  <div>
    <strong>Food:</strong>
    <%= @roster.food %>
  </div>

  <div>
    <strong>Contact1:</strong>
    <%= @roster.contact1 %>
  </div>

  <div>
    <strong>Contact2:</strong>
    <%= @roster.contact2 %>
  </div>

  <div>
    <strong>Contact3:</strong>
    <%= @roster.contact3 %>
  </div>

  <div>
    <strong>Freq:</strong>
    <%= @roster.freq %>
  </div>
</div>