<div> <%= render 'banner'%> </div>

<div class="span1 offset10"><%= link_to 'Back', rosters_path %></div>

<div class="nameBox span6 offset3"> <h2>Edit Player Stats</h2> </div>
<div> <%= render 'form' %> </div>

<div> <%= link_to 'Show', @roster %> </div>
<div><%= link_to 'Back', rosters_path %> </div>
