<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @roster.name %>
</p>

<p>
  <strong>Overall:</strong>
  <%= @roster.overall %>
</p>

<p>
  <strong>Scheduling:</strong>
  <%= @roster.scheduling %>
</p>

<p>
  <strong>Fun:</strong>
  <%= @roster.fun %>
</p>

<p>
  <strong>Day:</strong>
  <%= @roster.day %>
</p>

<p>
  <strong>Night:</strong>
  <%= @roster.night %>
</p>

<p>
  <strong>Food:</strong>
  <%= @roster.food %>
</p>

<p>
  <strong>Contact1:</strong>
  <%= @roster.contact1 %>
</p>

<p>
  <strong>Contact2:</strong>
  <%= @roster.contact2 %>
</p>

<p>
  <strong>Contact3:</strong>
  <%= @roster.contact3 %>
</p>

<p>
  <strong>Freq:</strong>
  <%= @roster.freq %>
</p>

<%= link_to 'Edit', edit_roster_path(@roster) %> |
<%= link_to 'Back', rosters_path %>
